%h1= "Темы дома #{@house.name}"

%table
  %tbody
    - @house.entrances.each do |entrance|
      %tr
        %td= link_to "Подъезд #{entrance.number}", house_entrance_path(entrance.house, id: entrance)
